button {
  background-color: #EEE;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  background-color: #CFD8DC;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}
